*.pyc
*.mp4
*.bak
*.orig
*.tmp
*.testing
*~
__pycache__
*-project
*-workspace
.coverage
.cache
calvin.conf
calvin.conf1
/.tox
dist/
calvin.egg-info
./build/
build/
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.sh
!test_scripts/*.sh
*.log
*.csv
